@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html[data-theme=light] {
  --bg-basic: #F5F5F5;
  --bg-content: #fff;
  --bg-point: #F2F8FD;
  --point: #497CFF;
  --point-sub: #e3ecff;
  --font-color: #333;
  --font-color-sub: #7B7B7B;
  --line-color: #B4B4B4;
  --red: #e72e2e;
}
html[data-theme=light] #change-theme {
  background-color: var(--font-color);
  color: #8198d5;
}
html[data-theme=light] ::selection {
  background: var(--point-sub);
  color: var(--font-color);
}

html[data-theme=dark] {
  --bg-basic: #07080e;
  --bg-content: #0e111c;
  --bg-point: #191c28;
  --point: #8198d5;
  --point-sub: #1e2744;
  --font-color: #b3b5c0;
  --font-color-sub: #a4a6af;
  --line-color: #525466;
  --red: #c96262;
}
html[data-theme=dark] #change-theme {
  background-color: var(--point);
  color: var(--point-sub);
}
html[data-theme=dark] ::selection {
  background: var(--point);
  color: var(--bg-content);
}

:root {
  background-color: var(--bg-basic);
}

:root, a, button {
  color: var(--font-color);
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

code {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
}

a, a[class] {
  text-decoration: none;
}

a:hover {
  color: var(--point);
}

table, details > p {
  font-size: 15px;
}

table {
  margin: 8px auto;
  border-collapse: collapse;
}
table th:not(:last-child), table td:not(:last-child) {
  border-right: solid 1px var(--line-color);
}
table tbody > tr {
  border-top: solid 1px var(--line-color);
}
table th, table td, table th[class], table td[class] {
  padding: 8px;
}

details summary {
  font-weight: 700;
  padding: 4px;
}
details p.description {
  padding: 8px;
}

.bold {
  font-weight: bold;
}