@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  background-color: #F5F5F5;
}

:root, a, button {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a, a[class] {
  text-decoration: none;
}

table, details > p {
  font-size: 14px;
}

table {
  margin: 8px auto;
  border-collapse: collapse;
}
table th:not(:last-child), table td:not(:last-child) {
  border-right: solid 1px #B4B4B4;
}
table tbody > tr {
  border-top: solid 1px #B4B4B4;
}
table th, table td, table th[class], table td[class] {
  padding: 8px;
}

details summary {
  font-weight: 700;
  padding: 4px;
}
details p.description {
  padding: 8px;
}