@charset "UTF-8";
body {
  margin: 0;
  overflow-wrap: break-word;
}

:lang(ko) {
  word-break: keep-all;
}

img {
  max-width: 100%;
  height: auto;
}

[class] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class]::before,
[class]::after {
  box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html[data-theme=light] {
  --bg-basic: #F5F5F5;
  --bg-content: #fff;
  --bg-point: #F2F8FD;
  --point: #497CFF;
  --point-sub: #e3ecff;
  --font-color: #333;
  --font-color-sub: #7B7B7B;
  --line-color: #B4B4B4;
  --red: #e72e2e;
}
html[data-theme=light] #change-theme {
  background-color: var(--font-color);
  color: #8198d5;
}
html[data-theme=light] ::selection {
  background: var(--point-sub);
  color: var(--font-color);
}

html[data-theme=dark] {
  --bg-basic: #07080e;
  --bg-content: #0e111c;
  --bg-point: #191c28;
  --point: #8198d5;
  --point-sub: #1e2744;
  --font-color: #b3b5c0;
  --font-color-sub: #a4a6af;
  --line-color: #525466;
  --red: #c96262;
}
html[data-theme=dark] #change-theme {
  background-color: var(--point);
  color: var(--point-sub);
}
html[data-theme=dark] ::selection {
  background: var(--point);
  color: var(--bg-content);
}

:root {
  background-color: var(--bg-basic);
}

:root, a, button {
  color: var(--font-color);
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a, a[class] {
  text-decoration: none;
}

a:hover {
  color: var(--point);
}

table, details > p {
  font-size: 15px;
}

table {
  margin: 8px auto;
  border-collapse: collapse;
}
table th:not(:last-child), table td:not(:last-child) {
  border-right: solid 1px var(--line-color);
}
table tbody > tr {
  border-top: solid 1px var(--line-color);
}
table th, table td, table th[class], table td[class] {
  padding: 8px;
}

details summary {
  font-weight: 700;
  padding: 4px;
}
details p.description {
  padding: 8px;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  width: 1520px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.red {
  color: var(--red);
}

.point {
  color: var(--point);
}

.bg-point {
  background-color: var(--bg-point);
}

.round-bt {
  background-color: var(--font-color);
  color: var(--point);
  font-weight: 400;
  border-radius: 25px;
  padding: 10px 12px;
  margin: 0 10px;
}

.round-bts {
  font-size: 0;
}
.round-bts button:not(:last-child) {
  margin-right: 2px;
}
.round-bts .round-bt-left {
  background-color: var(--bg-basic);
  color: var(--line-color);
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 7px 0 0 7px;
}
.round-bts .round-bt-left.current {
  background-color: var(--point);
  color: var(--bg-content);
}
.round-bts .round-bt-center {
  background-color: var(--bg-basic);
  color: var(--line-color);
  font-weight: 700;
  padding: 10px 12px;
}
.round-bts .round-bt-center.current {
  background-color: var(--point);
  color: var(--bg-content);
}
.round-bts .round-bt-right {
  background-color: var(--bg-basic);
  color: var(--line-color);
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 0 7px 7px 0;
}
.round-bts .round-bt-right.current {
  background-color: var(--point);
  color: var(--bg-content);
}

.scroll-pretty {
  overflow-y: auto;
}
.scroll-pretty::-webkit-scrollbar {
  width: 10px; /*스크롤바의 너비*/
}
.scroll-pretty::-webkit-scrollbar-thumb {
  /*스크롤바*/
  background-color: var(--bg-content);
  border-radius: 5px;
  border: solid 2px var(--point-sub);
}
.scroll-pretty::-webkit-scrollbar-track {
  /* 스크롤바 트랙*/
  border-radius: 5px;
  background-color: var(--point-sub);
}

nav#main-menu {
  height: 86px;
}
nav#main-menu.flex {
  justify-content: space-between;
}
nav#main-menu .left.flex {
  flex-wrap: wrap;
  align-content: center;
}
nav#main-menu .left > li > a {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.12));
}
nav#main-menu .left > li.current > a {
  color: var(--point);
}
nav#main-menu .right.flex {
  flex-wrap: wrap;
  align-content: center;
}
nav#main-menu .right a {
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  color: var(--font-color-sub);
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.14));
}

.card-nude {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}
.card-nude .card-container {
  padding: 8px 12px;
}
.card-nude .title {
  margin: 0;
  padding: 16px 12px 12px;
  color: var(--point);
}
.card-nude .title a {
  font-size: 20px;
  font-weight: 700;
}
.card-nude .title.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}
.card-nude .title-wrapper {
  padding: 16px 12px 12px;
  display: flex;
  align-items: center;
}
.card-nude .title-wrapper .title {
  padding: 0 12px 0 0;
}
.card-nude .title-wrapper.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  background-color: var(--bg-content);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
}
.card .card-container {
  padding: 8px 12px;
}
.card .title {
  margin: 0;
  padding: 16px 12px 12px;
  color: var(--point);
}
.card .title a {
  font-size: 20px;
  font-weight: 700;
}
.card .title.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}
.card .title-wrapper {
  padding: 16px 12px 12px;
  display: flex;
  align-items: center;
}
.card .title-wrapper .title {
  padding: 0 12px 0 0;
}
.card .title-wrapper.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}
.card.bg-point {
  background-color: var(--bg-point);
}
.card .title, .card .title-wrapper {
  background-color: var(--bg-content);
  position: relative;
}
.card .title.bt-line::after, .card .title-wrapper.bt-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: calc(100% - 24px);
  background-color: var(--line-color);
}

ul.sub-title-list > li {
  margin: 0.5em 0 1em;
  font-size: 20px;
  font-weight: bold;
  color: var(--point);
}
ul.sub-title-list > li li {
  font-size: 16px;
  font-weight: normal;
  color: var(--font-color);
}
ul.underline-list {
  padding: 0 1rem;
}
ul.underline-list > li {
  padding: 0.5em;
  border-bottom: solid 1px var(--line-color);
}
ul.round-block-list > li {
  background-color: var(--bg-content);
  padding: 8px 10px;
  border-radius: 10px;
  margin: 5px 0 10px;
  box-shadow: 2px 2px 6px rgba(8, 76, 172, 0.12);
  font-size: 15px;
}
ul.round-block-list > li a {
  font-size: 15px;
  font-weight: bold;
}
ul a.round-block {
  background-color: var(--bg-content);
  padding: 8px 10px;
  border-radius: 10px;
  margin: 5px 0 10px;
  box-shadow: 2px 2px 6px rgba(8, 76, 172, 0.12);
  font-size: 15px;
  display: inline-block;
}

a.ic-arrow-left {
  position: relative;
}
a.ic-arrow-left::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: linear-gradient(to bottom, transparent 40%, var(--font-color) 40%, var(--font-color) 60%, transparent 60%);
  margin: 4px 6px;
  vertical-align: top;
}
a.ic-arrow-left::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-left: solid 3px var(--font-color);
  border-bottom: solid 3px var(--font-color);
  position: absolute;
  top: calc(50% - 0.5px);
  left: 20px;
  transform: translate(50%, -50%) rotateZ(45deg);
}
a.ic-arrow-left:hover.ic-arrow-left::before {
  background: linear-gradient(to bottom, transparent 40%, var(--point) 40%, var(--point) 60%, transparent 60%);
}
a.ic-arrow-left:hover.ic-arrow-left::after {
  border-left: solid 3px var(--point);
  border-bottom: solid 3px var(--point);
}

a .link-icon {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  vertical-align: middle;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(45deg, var(--font-color) 63%, transparent 63%, transparent 73%, var(--font-color) 73%) 1;
  position: relative;
}
a .link-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -80%) rotate(-45deg);
  display: block;
  width: 0.6em;
  height: 3px;
  background-color: var(--font-color);
}
a:hover .link-icon {
  border-image: linear-gradient(45deg, var(--point) 63%, transparent 63%, transparent 73%, var(--point) 73%) 1;
}
a:hover .link-icon::after {
  background-color: var(--point);
}

main > .grid {
  grid-template-rows: repeat(6, 120px);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main > .grid #study-for {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
main > .grid #study-for::-webkit-scrollbar {
  display: none;
}
main > .grid #study-for .wrapper {
  padding: 0.5rem 0;
}
main > .grid #study-for .wrapper h2 {
  margin: 0;
}
main > .grid #study-for .wrapper.flex {
  gap: 1rem;
  padding: 0.5rem 0;
}
main > .grid #time-line article {
  gap: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}
main > .grid #time-line article div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 10px 16px;
  background-color: var(--font-color);
  border-radius: 7px;
  position: relative;
}
main > .grid #time-line article div::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--font-color);
  position: absolute;
  top: 16px;
  left: -8px;
  transform: rotateZ(45deg);
}
main > .grid #time-line article h2, main > .grid #time-line article p, main > .grid #time-line article span, main > .grid #time-line article button {
  color: var(--bg-content);
  line-height: 1.5em;
}
main > .grid #time-line article button {
  color: var(--point);
}
main > .grid #time-line article span {
  opacity: 0.6;
}
main > .grid #time-line article .thumb {
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../image/oAo.svg);
  background-size: 102%;
  background-position: right;
}
main > .grid #time-line article .thumb.tired {
  background-image: url(../image/owo.svg);
}
main > .grid #time-line article .thumb.fun {
  background-image: url(../image/oAoGo.svg);
}
main > .grid #time-line article .thumb.busy {
  background-image: url(../image/oAoGoGo.svg);
}
main > .grid #time-line article .content-title {
  width: 100%;
  font-size: 20px;
  margin: 0 0 4px;
}
main > .grid #time-line article .content {
  margin: 4px 0;
  word-break: break-all;
  width: 100%;
}
main > .grid #time-line article .content.hidden {
  max-height: 5em;
  overflow: hidden; /* 넘치는건 보이지 않게 해주지!*/
  white-space: normal; /* 줄바뀜이 일어남*/
  text-overflow: ellipsis; /* 생략기호 ... 를 나타나게해줌*/
  display: -webkit-box; /* display를 이렇게해줘야 가능해짐, 대신 ie에선 안먹겠지..ㅠ*/
  -webkit-line-clamp: 3; /* 몇줄까지 보여줄건지*/
  -webkit-box-orient: vertical; /*비표준이라 함 확인 잘못했으니 살펴보고 쓸것*/
}
main > .grid #time-line article .content a {
  color: var(--point-sub);
}
main > .grid #time-line article .content a:hover {
  color: var(--point);
}
main > .grid #time-line article .date {
  font-size: 15px;
}
main > .grid #time-line article .more {
  font-size: 15px;
  padding: 4px;
}
main > .grid #time-line article .more.hidden {
  display: none;
}
main > .grid #time-line article .hidden + .more {
  display: inline-block;
}
main > .grid #studyList details[open] {
  max-height: 280px;
  overflow: auto;
}
main > .grid #studyList table .progress {
  color: var(--point);
}
main > .grid #quick-links {
  grid-area: 1/3/4/4;
}
main > .grid #quick-links .tab-wrapper {
  flex-grow: 1;
}
main > .grid #quick-links .tab-wrapper .card-container {
  height: -webkit-fill-available;
}
main > .grid #links ul a {
  font-weight: 500;
}
main > .grid #study-for {
  grid-area: 1/1/3/2;
}
main > .grid #time-line {
  grid-area: 3/1/6/2;
}
main > .grid #wish-list {
  grid-area: 6/1/7/2;
}
main > .grid #studyList {
  grid-area: 1/2/7/3;
}
main > .grid #links {
  grid-area: 1/3/3/4;
}
main > .grid #quick-links {
  grid-area: 3/3/7/4;
}