@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
body {
  margin: 0;
  overflow-wrap: break-word;
}

:lang(ko) {
  word-break: keep-all;
}

img {
  max-width: 100%;
  height: auto;
}

[class] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class]::before,
[class]::after {
  box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html[data-theme=light] {
  --bg-basic: #F5F5F5;
  --bg-content: #fff;
  --bg-point: #F2F8FD;
  --point: #497CFF;
  --point-sub: #e3ecff;
  --font-color: #333;
  --font-color-sub: #7B7B7B;
  --line-color: #B4B4B4;
  --red: #e72e2e;
}
html[data-theme=light] #change-theme {
  background-color: var(--font-color);
  color: #8198d5;
}
html[data-theme=light] ::selection {
  background: var(--point-sub);
  color: var(--font-color);
}

html[data-theme=dark] {
  --bg-basic: #07080e;
  --bg-content: #0e111c;
  --bg-point: #191c28;
  --point: #8198d5;
  --point-sub: #1e2744;
  --font-color: #b3b5c0;
  --font-color-sub: #a4a6af;
  --line-color: #525466;
  --red: #c96262;
}
html[data-theme=dark] #change-theme {
  background-color: var(--point);
  color: var(--point-sub);
}
html[data-theme=dark] ::selection {
  background: var(--point);
  color: var(--bg-content);
}

:root {
  background-color: var(--bg-basic);
}

:root, a, button {
  color: var(--font-color);
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

code {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
}

a, a[class] {
  text-decoration: none;
}

a:hover {
  color: var(--point);
}

table, details > p {
  font-size: 15px;
}

table {
  margin: 8px auto;
  border-collapse: collapse;
}
table th:not(:last-child), table td:not(:last-child) {
  border-right: solid 1px var(--line-color);
}
table tbody > tr {
  border-top: solid 1px var(--line-color);
}
table th, table td, table th[class], table td[class] {
  padding: 8px;
}

details summary {
  font-weight: 700;
  padding: 4px;
}
details p.description {
  padding: 8px;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  width: 1520px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.red {
  color: var(--red);
}

.point {
  color: var(--point);
}

.bg-point {
  background-color: var(--bg-point);
}

.round-bt {
  background-color: var(--font-color);
  color: var(--point);
  font-weight: 400;
  border-radius: 25px;
  padding: 10px 12px;
  margin: 0 10px;
}

.round-bts {
  font-size: 0;
}
.round-bts button:not(:last-child) {
  margin-right: 2px;
}
.round-bts .round-bt-left {
  background-color: var(--bg-basic);
  color: var(--line-color);
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 7px 0 0 7px;
}
.round-bts .round-bt-left.current {
  background-color: var(--point);
  color: var(--bg-content);
}
.round-bts .round-bt-center {
  background-color: var(--bg-basic);
  color: var(--line-color);
  font-weight: 700;
  padding: 10px 12px;
}
.round-bts .round-bt-center.current {
  background-color: var(--point);
  color: var(--bg-content);
}
.round-bts .round-bt-right {
  background-color: var(--bg-basic);
  color: var(--line-color);
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 0 7px 7px 0;
}
.round-bts .round-bt-right.current {
  background-color: var(--point);
  color: var(--bg-content);
}

.scroll-pretty {
  overflow-y: auto;
}
.scroll-pretty::-webkit-scrollbar {
  width: 10px; /*스크롤바의 너비*/
}
.scroll-pretty::-webkit-scrollbar-thumb {
  /*스크롤바*/
  background-color: var(--bg-content);
  border-radius: 5px;
  border: solid 2px var(--point-sub);
}
.scroll-pretty::-webkit-scrollbar-track {
  /* 스크롤바 트랙*/
  border-radius: 5px;
  background-color: var(--point-sub);
}

nav#main-menu {
  height: 86px;
}
nav#main-menu.flex {
  justify-content: space-between;
}
nav#main-menu .left.flex {
  flex-wrap: wrap;
  align-content: center;
}
nav#main-menu .left > li > a {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.12));
}
nav#main-menu .left > li.current > a {
  color: var(--point);
}
nav#main-menu .right.flex {
  flex-wrap: wrap;
  align-content: center;
}
nav#main-menu .right a {
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  color: var(--font-color-sub);
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.14));
}

.card-nude {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}
.card-nude .card-container {
  padding: 8px 12px;
}
.card-nude .title {
  margin: 0;
  padding: 16px 12px 12px;
  color: var(--point);
}
.card-nude .title a {
  font-size: 20px;
  font-weight: 700;
}
.card-nude .title.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}
.card-nude .title-wrapper {
  padding: 16px 12px 12px;
  display: flex;
  align-items: center;
}
.card-nude .title-wrapper .title {
  padding: 0 12px 0 0;
}
.card-nude .title-wrapper.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  background-color: var(--bg-content);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
}
.card .card-container {
  padding: 8px 12px;
}
.card .title {
  margin: 0;
  padding: 16px 12px 12px;
  color: var(--point);
}
.card .title a {
  font-size: 20px;
  font-weight: 700;
}
.card .title.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}
.card .title-wrapper {
  padding: 16px 12px 12px;
  display: flex;
  align-items: center;
}
.card .title-wrapper .title {
  padding: 0 12px 0 0;
}
.card .title-wrapper.under-shadow {
  z-index: 9;
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
}
.card.bg-point {
  background-color: var(--bg-point);
}
.card .title, .card .title-wrapper {
  background-color: var(--bg-content);
  position: relative;
}
.card .title.bt-line::after, .card .title-wrapper.bt-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: calc(100% - 24px);
  background-color: var(--line-color);
}

ul.sub-title-list > li {
  margin: 0.5em 0 1em;
  font-size: 20px;
  font-weight: bold;
  color: var(--point);
}
ul.sub-title-list > li li {
  font-size: 16px;
  font-weight: normal;
  color: var(--font-color);
}
ul.underline-list {
  padding: 0 1rem;
}
ul.underline-list > li {
  padding: 0.5em;
  border-bottom: solid 1px var(--line-color);
}
ul.round-block-list > li {
  background-color: var(--bg-content);
  padding: 8px 10px;
  border-radius: 10px;
  margin: 5px 0 10px;
  box-shadow: 2px 2px 6px rgba(8, 76, 172, 0.12);
  font-size: 15px;
}
ul.round-block-list > li a {
  font-size: 15px;
  font-weight: bold;
}
ul a.round-block {
  background-color: var(--bg-content);
  padding: 8px 10px;
  border-radius: 10px;
  margin: 5px 0 10px;
  box-shadow: 2px 2px 6px rgba(8, 76, 172, 0.12);
  font-size: 15px;
  display: inline-block;
}

a.ic-arrow-left {
  position: relative;
}
a.ic-arrow-left::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: linear-gradient(to bottom, transparent 40%, var(--font-color) 40%, var(--font-color) 60%, transparent 60%);
  margin: 4px 6px;
  vertical-align: top;
}
a.ic-arrow-left::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-left: solid 3px var(--font-color);
  border-bottom: solid 3px var(--font-color);
  position: absolute;
  top: calc(50% - 0.5px);
  left: 20px;
  transform: translate(50%, -50%) rotateZ(45deg);
}
a.ic-arrow-left:hover.ic-arrow-left::before {
  background: linear-gradient(to bottom, transparent 40%, var(--point) 40%, var(--point) 60%, transparent 60%);
}
a.ic-arrow-left:hover.ic-arrow-left::after {
  border-left: solid 3px var(--point);
  border-bottom: solid 3px var(--point);
}

:root {
  font-size: 18px;
}

html[data-theme=light] {
  --point: #4479ff;
  --mark: #fddc84;
  --mark-sub: #fdf5d8;
  --exam: #0fb0c5;
  --exam-sub: #f1f9f9;
  --table-th: #f0f5fb;
  --table-th-odd: #e9f0f7;
  --table-td-odd: #f9f9f9;
}
html[data-theme=light] #change-theme {
  background-color: var(--font-color);
  color: #8198d5;
}

html[data-theme=dark] {
  --mark: #604f12;
  --mark-sub: #100f0e;
  --exam: #649fad;
  --exam-sub: #000b0e;
  --table-th: #030c20;
  --table-th-odd: #0a112a;
  --table-td-odd: #12151e;
}
html[data-theme=dark] #change-theme {
  background-color: var(--point);
  color: var(--point-sub);
}

.flex {
  gap: 20px;
}

#sub-menu {
  flex-shrink: 0;
  flex-grow: 0;
  width: 320px;
}
#sub-menu #profile {
  align-items: center;
  padding: 20px 0;
}
#sub-menu #profile img {
  width: 114px;
  height: 114px;
}
#sub-menu #profile p {
  font-size: 16px;
}
#sub-menu a.current {
  color: var(--point);
}

.post-style {
  padding: 20px;
  margin-bottom: 80px;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 800px;
}
.post-style > article {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 0 20px 40px;
  line-height: 1.8em;
}
.post-style > article > * {
  padding: 0;
  margin: 10px 0;
  text-align: justify;
}
.post-style > article article > *:not(h2, h3, h4, h5, h6, img, button) {
  padding-left: 2em;
}
.post-style > article hr {
  margin: 40px 0;
  background: var(--point-sub);
  height: 1px;
  border: 0;
}
.post-style > article h2, .post-style > article h3, .post-style > article h4 {
  color: var(--point);
}
.post-style > article h2 {
  font-size: 24px;
  margin: 40px 0 20px;
}
.post-style > article h3 {
  font-size: 20px;
  margin: 30px 0 10px;
}
.post-style > article h4 {
  font-size: 18px;
  margin: 24px 0 6px;
}
.post-style > article a {
  font-size: 18px;
  color: var(--point);
}
.post-style > article a:hover {
  color: var(--point-hover);
}
.post-style > article mark {
  color: var(--font-color);
  padding: 0.2em;
  background-color: var(--mark-sub);
  border: solid 1px var(--mark);
  border-radius: 4px;
}
.post-style > article blockquote {
  padding: 15px 20px;
  background-color: var(--bg-point);
}
.post-style > article ul, .post-style > article ol {
  margin: 0;
  padding-left: 1.5em;
}
.post-style > article ul li:not(li li), .post-style > article ol li:not(li li) {
  margin-bottom: 0.5em;
}
.post-style > article code {
  color: var(--red);
  background-color: var(--bg-basic);
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
.post-style > article code .comment {
  color: var(--font-color);
  opacity: 0.5;
}
.post-style > article img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  margin: 10px;
}
.post-style > article table {
  border-collapse: collapse;
  border: none;
  font-size: 16px;
  line-height: 1.5em;
}
.post-style > article table tr, .post-style > article table th, .post-style > article table td {
  border: none;
}
.post-style > article table th {
  background-color: var(--table-th);
  text-align: center;
}
.post-style > article table td {
  vertical-align: top;
}
.post-style > article table tbody tr {
  border-top: solid 1px var(--point-sub);
}
.post-style > article table tbody tr:nth-child(2n-1) th {
  background-color: var(--table-th-odd);
}
.post-style > article table tbody tr:nth-child(2n-1) td {
  background-color: var(--table-td-odd);
}
.post-style > article table th + th, .post-style > article table th + td, .post-style > article table td + td {
  border-left: solid 1px var(--bg-content);
}
.post-style > article .title {
  color: var(--font-color);
}
.post-style > article .post-date {
  font-size: 15px;
  color: var(--font-color-sub);
  text-align: right;
}
.post-style > article .post-date .creation-date {
  padding-right: 1em;
}
.post-style > article .block {
  display: block;
  margin: 6px 0;
  padding: 0.7em 1em;
  border-radius: 7px;
}
.post-style > article .exam {
  background-color: var(--exam-sub);
  color: var(--exam);
  padding: 0.2em 0.5em;
  font-size: 0.9375em;
}
.post-style > article .exam.block {
  padding: 0.7em 1em;
  position: relative;
}
.post-style > article .exam.block.exam-tag {
  padding-left: 2.7em;
}
.post-style > article .exam.block.exam-tag::before {
  content: "ex)";
  position: absolute;
  top: 0.7em;
  left: 1em;
}
.post-style > aside {
  flex-shrink: 0;
  flex-grow: 0;
  width: 240px;
  border-left: solid 1px var(--font-color-sub);
  position: relative;
}
.post-style > aside ol {
  list-style: none;
  padding-left: 0.5em;
}
.post-style > aside ol li {
  margin-bottom: 0.5em;
}
.post-style > aside ol a {
  display: inline-block;
  padding: 0.2em;
  font-size: 15px;
  color: var(--font-color-sub);
}
.post-style > aside ol a:hover {
  color: var(--point);
}
.post-style > aside ol ol {
  padding-left: 1.5em;
}
.post-style > aside #quick-side-menu {
  position: fixed;
  width: 240px;
}

.word-memorizing-style #quick-button {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  gap: 1rem;
}
.word-memorizing-style #quick-button button, .word-memorizing-style #quick-button div {
  padding: 1em 1.5em;
  border-radius: 2em;
  background-color: var(--bg-content);
  color: var(--point);
  box-shadow: 0 0 20px rgba(158, 173, 201, 0.2823529412);
  transition: all 0.2s ease-in-out;
}
.word-memorizing-style #quick-button button:hover, .word-memorizing-style #quick-button div:hover {
  box-shadow: 0 0 10px 5px rgba(158, 173, 201, 0.2823529412);
}
.word-memorizing-style #quick-button #button-count {
  flex-direction: row;
  background-color: var(--font-color);
  color: var(--bg-content);
  gap: 0.4em;
}
.word-memorizing-style button {
  background-color: var(--point);
  color: var(--point);
  border: none;
  border-radius: 7px;
  padding: 0.5em;
  margin: 0.1em;
  font-weight: bold;
  line-height: 1em;
}
.word-memorizing-style button.red {
  background-color: var(--red);
  color: var(--red);
}
.word-memorizing-style button.not-hidden {
  background-color: var(--font-color);
  color: var(--bg-content);
}
.word-memorizing-style button.show {
  color: var(--bg-content);
}
.word-memorizing-style button.code {
  text-align: left;
  line-height: 1.5em;
  background-color: var(--bg-basic);
  color: var(--bg-basic);
}
.word-memorizing-style button.code pre {
  margin: 0;
}
.word-memorizing-style button.code .point {
  color: var(--bg-basic);
}
.word-memorizing-style button.code.show {
  color: var(--red);
}
.word-memorizing-style button.code.show .text {
  color: var(--font-color);
}
.word-memorizing-style button.code.show .comment {
  color: var(--font-color);
  opacity: 0.5;
}
.word-memorizing-style button.code.show .point {
  color: var(--point);
}
.word-memorizing-style mark.block, .word-memorizing-style span.exam.block {
  display: inline-block;
}