@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
  overflow-wrap: break-word;
}

:lang(ko) {
  word-break: keep-all;
}

img {
  max-width: 100%;
  height: auto;
}

[class] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class]::before,
[class]::after {
  box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  appearance: none;
}

:root {
  background-color: #F5F5F5;
}

:root, a, button {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

table, details > p {
  font-size: 14px;
}

table {
  margin: 8px auto;
  border-collapse: collapse;
}
table th:not(:last-child), table td:not(:last-child) {
  border-right: solid 1px #B4B4B4;
}
table tbody > tr {
  border-top: solid 1px #B4B4B4;
}
table th, table td, table th[class], table td[class] {
  padding: 8px;
}

details summary {
  font-weight: 700;
  padding: 4px;
}
details p.description {
  padding: 8px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.red {
  color: red;
}

.bg-point {
  background-color: #F2F8FD;
}

.container {
  margin: 0 auto;
  width: 1520px;
}

.round-bt {
  background-color: #333;
  color: #87BEFF;
  font-weight: 400;
  border-radius: 25px;
  padding: 10px 12px;
  margin: 0 10px;
}

.round-bts {
  font-size: 0;
}
.round-bts .round-bt-left {
  background-color: #F5F5F5;
  color: #B4B4B4;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 7px 0 0 7px;
}
.round-bts .round-bt-left.current {
  background-color: #497CFF;
  color: #fff;
}
.round-bts .round-bt-right {
  background-color: #F5F5F5;
  color: #B4B4B4;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 0 7px 7px 0;
}
.round-bts .round-bt-right.current {
  background-color: #497CFF;
  color: #fff;
}

.scroll-pretty {
  overflow-y: auto;
}
.scroll-pretty::-webkit-scrollbar {
  width: 10px; /*스크롤바의 너비*/
}
.scroll-pretty::-webkit-scrollbar-thumb {
  /*스크롤바*/
  background-color: #fff;
  border-radius: 5px;
  border: solid 2px #C7DAFF;
}
.scroll-pretty::-webkit-scrollbar-track {
  /* 스크롤바 트랙*/
  border-radius: 5px;
  background-color: #C7DAFF;
}

.tab-wrapper {
  position: relative;
}

.tab-wrapper [role=tabpanel] {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.tab-wrapper [role=tabpanel].current {
  z-index: 2;
  opacity: 1;
}

nav#main-menu {
  height: 86px;
}
nav#main-menu.flex {
  justify-content: space-between;
}
nav#main-menu .left.flex {
  flex-wrap: wrap;
  align-content: center;
}
nav#main-menu .left > li > a {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
}
nav#main-menu .right.flex {
  flex-wrap: wrap;
  align-content: center;
}
nav#main-menu .right a {
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  color: #7B7B7B;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.14));
}

main > .grid {
  grid-template-rows: repeat(6, 117px);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main > .grid .card-nude {
  overflow: auto;
}
main > .grid .card-nude .card-container {
  padding: 8px 12px;
}
main > .grid .card-nude .title {
  padding: 16px 12px 12px;
}
main > .grid .card {
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
}
main > .grid .card .card-container {
  padding: 8px 12px;
}
main > .grid .card .title {
  padding: 16px 12px 12px;
}
main > .grid .card.bg-point {
  background-color: #F2F8FD;
}
main > .grid .card .title {
  background-color: #fff;
  position: relative;
  display: block;
}
main > .grid .card .title.bt-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: calc(100% - 24px);
  background-color: #DDD;
}
main > .grid #forStudy {
  grid-area: 1/1/3/2;
}
main > .grid #studyList {
  grid-area: 1/2/7/3;
}
main > .grid #studyList details[open] {
  height: 240px;
  overflow: auto;
}
main > .grid #studyList details[open].details2 {
  height: 300px;
}
main > .grid #studyList table .progress {
  color: #497CFF;
}
main > .grid #youtube {
  grid-area: 1/3/4/4;
}
main > .grid #youtube .video-wrapper {
  width: 100%;
  position: relative;
}
main > .grid #youtube .video-wrapper:before {
  content: "";
  display: block;
  padding-top: 55%;
}
main > .grid #youtube .video-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main > .grid #links {
  grid-area: 4/3/7/4;
}