@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html[data-theme="light"] {
    --bg-basic: #F5F5F5;
    --bg-content: #fff;
    --bg-point: #F2F8FD;
    --point: #497CFF;
    --point-sub: #C7DAFF;
    --font-color: #333;
    --font-color-sub: #7B7B7B;
    --line-color: #B4B4B4;
    --red: #e72e2e;
    #change-theme {
        background-color: var(--font-color);
        color: #8198d5;
    }
    ::selection {
        background: var(--point-sub);
        color: var(--font-color);
    }
}

html[data-theme="dark"] {
    --bg-basic: #07080e;
    --bg-content: #0e111c;
    --bg-point: #191c28;
    --point: #8198d5;
    --point-sub: #365085;
    --font-color: #b3b5c0;
    --font-color-sub: #a4a6af;
    --line-color: #525466;
    --red: #c96262;
    #change-theme {
        background-color: var(--point);
        color: var(--point-sub);
    }
    ::selection {
        background: var(--point);
        color: var(--bg-content);
    }
}

$font-size: (
    big: 20px,
    basic: 16px,
    small: 14px
);

$padding-base: 20px;

:root {
    background-color: var(--bg-basic);
}
:root, a, button {
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: map-get($font-size , basic);
}
a, a[class] {
    text-decoration: none;
}

a:hover {
    color: var(--point);
}

table, details > p {
    font-size: map-get($font-size, small);
}

table {
    margin: $padding-base*0.4 auto;
    border-collapse: collapse;
    th:not(:last-child), td:not(:last-child) {
        border-right: solid 1px var(--line-color);
    }
    tbody > tr {
        border-top: solid 1px var(--line-color);
    }
    th, td, th[class], td[class] {
        padding: $padding-base*0.4;
    }
}

details {
    summary {
        font-weight: 700;
        padding: $padding-base*0.2;
    }
    p.description {
        padding: $padding-base*0.4;
    }
}

.bold {
    font-weight: bold;
}