@import 'reset';
@import 'custom-reset';
@import 'style';

.ic-arrow-left {
    position: relative;
    $border-color: map-get($color, black-333);
    &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background: linear-gradient(to bottom, transparent 40%, $border-color 40%, $border-color 60%, transparent 60%);
        margin: 4px 6px;
        vertical-align: top;
    }
    &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-left: solid 3px $border-color;
        border-bottom: solid 3px $border-color;
        position: absolute;
        top: calc(50% - 0.5px);
        left: $padding-base;
        transform: translate(50%,-50%) rotateZ(45deg);
    }
}

main > .grid {
    grid-template-rows: repeat(6, 117px);
    grid-template-columns: repeat(2, 1fr);
    gap: $padding-base;
    
    #design {
        grid-area: 1/1/7/2;
    }
    #development {
        grid-area: 1/2/7/3;
    }
}