
@import 'style';

a {
    $border: 3px;
    $border-color: var(--font-color);
    $hover-border-color: var(--point);
    .link-icon {
        display: inline-block;
        width: 0.8em;
        height: 0.8em;
        vertical-align: middle;
        border-width: $border;
        border-style: solid;
        border-image: linear-gradient(45deg, $border-color 63%, transparent 63%, transparent 73%, $border-color 73%) 1;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -80%) rotate(-45deg);
            display: block;
            width: 0.6em;
            height: $border;
            background-color: $border-color;
        }
    }
    &:hover .link-icon {
        border-image: linear-gradient(45deg, $hover-border-color 63%, transparent 63%, transparent 73%, $hover-border-color 73%) 1;
        &::after {
            background-color: $hover-border-color;
        }
    }
}

main > .grid {
    #study-for {
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display:none;
        }
        .wrapper {
            padding: 0.5rem 0;
            h2 {
                margin: 0;
            }
            &.flex {
                gap: 1rem;
                padding: 0.5rem 0;
            }
        }
    }
    #time-line {
        article {
            gap: $padding-base;
            margin-bottom: $padding-base;
            align-items: flex-start;
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                padding: $padding-base*0.5 $padding-base*0.8;
                background-color: var(--font-color);
                border-radius: 7px;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-color: var(--font-color);
                    position: absolute;
                    top: $padding-base*0.8;
                    left: -8px;
                    transform: rotateZ(45deg);
                }
            }
            h2, p, span, button {
                color: var(--bg-content);
                line-height: 1.5em;
            }
            button {
                color: var(--point);
            }
            span {
                opacity: 0.6;
            }
            .thumb {
                flex-shrink: 0;
                flex-grow: 0;
                border-radius: 50%;
                display: inline-block;
                width: 50px;
                height: 50px;
                background-image: url(../image/oAo.svg);
                background-size: 102%; // svg를 뽑을때 왼쪽에 빈 공간이 생기게 잘못뽑은듯함..
                background-position: right;
                &.tired {
                    background-image: url(../image/owo.svg);
                }
                &.fun {
                    background-image: url(../image/oAoGo.svg);
                }
                &.busy {
                    background-image: url(../image/oAoGoGo.svg);
                }
            }
            .content-title {
                width: 100%;
                font-size: map-get($font-size, big);
                margin: 0 0 $padding-base*0.2;
            }
            .content {
                margin: $padding-base*0.2 0;
                word-break: break-all;
                width: 100%;
                &.hidden {
                    max-height: 5em;
                    overflow: hidden; /* 넘치는건 보이지 않게 해주지!*/
                    white-space: normal; /* 줄바뀜이 일어남*/
                    text-overflow: ellipsis; /* 생략기호 ... 를 나타나게해줌*/
                    display: -webkit-box; /* display를 이렇게해줘야 가능해짐, 대신 ie에선 안먹겠지..ㅠ*/
                    -webkit-line-clamp: 3; /* 몇줄까지 보여줄건지*/
                    -webkit-box-orient: vertical; /*비표준이라 함 확인 잘못했으니 살펴보고 쓸것*/
                }
                a {
                    color: var(--point-sub);
                    &:hover {
                        color: var(--point);
                    }
                }
            }
            .date {
                font-size: map-get($font-size, small);
            }
            .more {
                font-size: map-get($font-size, small);
                padding: $padding-base*0.2;
                &.hidden {
                    display: none;
                }
            }
            .hidden + .more {
                display: inline-block;
            }
        }
    }
    #studyList {
        #studyList-wrapper {
            gap: 1rem;
            padding: 0 1rem;
            flex-direction: column;
            .study-item {
                background-color: var(--bg-point);
                border-radius: 7px;
                .title-and-d-day {
                    justify-content: space-between;
                    align-items: end;
                    h2 {
                        margin: 0;
                        padding: 0;
                        font-size: map-get($font-size, big);
                    }
                    .d-day-and-progress {
                        gap: 0.5rem;
                        align-items: center;
                        .d-day {
                            font-weight: bold;
                        }
                        .percent {
                            font-weight: bold;
                            color: var(--point);
                        }
                        progress {
                            appearance: none;
                            position: relative;
                            width: 70px;
                            height: 16px;
                            &::-webkit-progress-bar {
                                box-sizing: border-box;
                                background: var(--bg-content);
                                border: solid 2px var(--bg-content);
                                border-radius: 8px;
                                overflow: hidden;
                            }
                            &::-webkit-progress-value {
                                background: var(--point);
                            }
                            &::before {
                                content: '';
                                box-sizing: border-box;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 70px;
                                height: 16px;
                                border: solid 1px var(--point-sub);
                                border-radius: 8px;
                                background: linear-gradient( to right,
                                    transparent 19%, var(--point-sub) 19% 21%,
                                    transparent 21% 39%, var(--point-sub) 39% 41%,
                                    transparent 41% 59%, var(--point-sub) 59% 61%,
                                    transparent 61% 79%, var(--point-sub) 79% 81%,
                                    transparent 81%
                                    );
                            }
                        }
                    }
                }
                .detail {
                    margin-top: 0.5rem;
                    justify-content: space-between;
                    align-items: end;
                    p {
                        font-size: map-get($font-size, small);
                        color: var(--font-color-sub);
                    }
                }
                .amount-table {
                    background-color: var(--bg-content);
                    color: var(--font-color);
                    margin: 1rem 0;
                    border-radius: 4px;
                    max-height: 230px;
                    overflow: auto;
                    transition: all 0.2s ease-in-out;

                    -ms-overflow-style: none; /* 인터넷 익스플로러 스크롤 숨기기*/
                    scrollbar-width: none; /* 파이어폭스 스크롤 숨기기*/
                    &::-webkit-scrollbar {/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 : 스크롤 숨기기*/
                        display: none;
                    }
                    &.hidden {
                        margin: 0;
                        height: 0;
                        opacity: 0;
                    }
                    table {
                        width: 100%;
                        margin: 0;
                        text-align: center;
                        thead th {
                            border: none;
                        }
                        .progress {
                            color: var(--point);
                        }
                    }
                }
                &:hover {
                    background-color: var(--point-sub);
                }
                &.complete {
                    background-color: var(--point);
                    color: var(--bg-content);
                    progress {
                        display: none;
                    }
                    .detail {
                        p {
                            color: var(--point-sub);
                            a {
                                color: var(--bg-content);
                            }
                        }
                    }
                    .d-day-and-progress {
                        .percent {
                            color: var(--bg-content);
                        }
                    }
                }
                &.incomplete {
                    background-color: var(--red);
                    color: var(--bg-content);
                    progress {
                        display: none;
                    }
                    .detail {
                        p {
                            color: var(--point-sub);
                            a {
                                color: var(--bg-content);
                                &:hover {
                                    color: var(--point-sub);
                                }
                            }
                        }
                    }
                    .d-day-and-progress {
                        .percent {
                            color: var(--bg-content);
                        }
                    }
                }
            }
        }
    }
    #quick-links {
        grid-area: 1/3/4/4;
        .tab-wrapper {
            flex-grow: 1;
            .card-container {
                height: -webkit-fill-available;
            }
        }
    }
    #links {
        ul a {
            font-weight: 500;
        }
    }

    // 메인 그리드 스타일
    grid-template-rows: repeat(6, 120px);
    grid-template-columns: repeat(3, 1fr);
    gap: $padding-base;
    #study-for {
        // grid-area: <grid-row-start> / <grid-column-start> / <grid-row-end> / <grid-column-end>;
        grid-area: 1/1/3/2;
    }
    #time-line {
        grid-area: 3/1/6/2;
    }
    #wish-list {
        grid-area: 6/1/7/2;
    }

    #studyList {
        grid-area: 1/2/7/3;
    }

    #links {
        grid-area: 1/3/3/4;
    }
    #quick-links {
        grid-area: 3/3/7/4;
    }
}