@import 'reset';
@import 'custom-reset';

.flex {
    display: flex;
}
.grid {
    display: grid;
}
.container {
    margin: 0 auto;
    width: 1520px;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

// 색상
.red {
    color: var(--red);
}
.bg-point {
    background-color: var(--bg-point);
}

// 둥근 버튼
.round-bt {
    background-color: var(--font-color);
    color: var(--point);
    font-weight: 400;
    border-radius: 25px;
    padding: $padding-base*0.5 $padding-base*0.6;
    margin: 0 $padding-base*0.5;
}
@mixin round-bts {
    background-color: var(--bg-basic);
    color: var(--line-color);
    font-weight: 700;
    padding: $padding-base*0.5 $padding-base*0.6;
    &.current {
        background-color: var(--point);
        color: var(--bg-content);
    }
}
.round-bts {
    $radius: 7px;
    font-size: 0;
    button:not(:last-child) {
        margin-right: 2px;
    }
    .round-bt-left {
        @include round-bts;
        border-radius: $radius 0 0 $radius;
    }
    .round-bt-center {
        @include round-bts;
    }
    .round-bt-right {
        @include round-bts;
        border-radius: 0 $radius $radius 0;
    }
}

// 스크롤 예쁘게
.scroll-pretty {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 10px; /*스크롤바의 너비*/
    }
    &::-webkit-scrollbar-thumb {
        /*스크롤바*/
    background-color: var(--bg-content);
    border-radius: 5px;
    border: solid 2px var(--point-sub);
    }
    &::-webkit-scrollbar-track {
    /* 스크롤바 트랙*/
    border-radius: 5px;
    background-color: var(--point-sub);
    }
}

// 메인 메뉴
nav#main-menu {
    height: 86px;
    &.flex {
        justify-content: space-between;
    }
    .left {
        &.flex {
            flex-wrap: wrap;
            align-content: center;
        }
        & > li > a {
            font-size: map-get($font-size, big);
            font-weight: 700;
            padding: $padding-base;
            text-decoration: none;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.12));
        }
        & > li.current > a {
            color: var(--point);
        }
    }
    .right {
        &.flex {
            flex-wrap: wrap;
            align-content: center;
        }
        & a {
            font-size: map-get($font-size, small);
            padding: $padding-base*0.5;
            text-decoration: none;
            color: var(--font-color-sub);
            filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.14));
        }
    }
}

// 카드 디자인
@mixin card-base {
    overflow: auto;
    $title-padding: $padding-base*0.8 $padding-base*0.6 $padding-base*0.6;
    .card-container {
        padding: $padding-base*0.4 $padding-base*0.6;
        flex-grow: 1;
    }
    .title{
        margin: 0;
        padding: $title-padding;
        color: var(--point);
        a {
            font-size: map-get($font-size, big);
            font-weight: 700;
        }
        &.under-shadow {
            z-index: 9;
            box-shadow: 0 0 20px #9eadc948;
        }
    }
    .title-wrapper {
        padding: $title-padding;
        display: flex;
        align-items: center;
        .title {
            padding: 0 $padding-base*0.6 0 0;
        }
        &.under-shadow {
            z-index: 9;
            box-shadow: 0 0 20px #9eadc948;
        }
    }
}
.card-nude {
    @include card-base;
}
.card {
    @include card-base;
    background-color: var(--bg-content);
    border-radius: $padding-base*0.5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;

    &.bg-point {
        background-color: var(--bg-point);
    }
    .title, .title-wrapper {
        background-color: var(--bg-content);
        position: relative;
        &.bt-line::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 2px;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: calc(100% - $padding-base*1.2);
            background-color: var(--line-color);
        }
    }
}

ul {
    // 타이틀 리스트
    &.sub-title-list {
        & > li {
            margin: 0.5em 0 1em;
            font-size: map-get($font-size, big);
            font-weight: bold;
            color: var(--point);
            li {
                font-size: map-get($font-size, basic);
                font-weight: normal;
                color: var(--font-color);
            }
        }
    }

    // 밑줄이 있는 리스트
    &.underline-list {
        padding: 0 1rem;
        & > li {
            padding: 0.5em;
            border-bottom: solid 1px var(--line-color);
        }
    }

    // 둥근 박스 리스트(a태그가 있는)
    @mixin round-block {
        background-color: var(--bg-content);
        padding: $padding-base*0.4 $padding-base*0.5;
        border-radius: $padding-base*0.5;
        margin: $padding-base*0.25 0 $padding-base*0.5;
        box-shadow: 2px 2px 6px rgba(8, 76, 172, 0.12);
        font-size: map-get($font-size, small);
    }
    &.round-block-list {
        & > li {
            @include round-block;
            a {
                font-size: map-get($font-size, small);
                font-weight: bold;
            }
        }
    }
    a.round-block {
        @include round-block;
        display: inline-block;
    }
}