.tab-wrapper {
  position: relative;
}

.tab-wrapper [role=tabpanel] {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.tab-wrapper [role=tabpanel].current {
  z-index: 2;
  opacity: 1;
}